user.config

# Engine-Quellcode wird nicht getrackt (zu groß, wird separat heruntergeladen).
# Ausnahmen: Dateien die für aotmod gepatcht wurden.
# Hinweis: engine/** statt engine damit !-Ausnahmen funktionieren.
engine/**
!engine/OpenRA.Mods.Common/
!engine/OpenRA.Mods.Common/Widgets/
!engine/OpenRA.Mods.Common/Widgets/Logic/
!engine/OpenRA.Mods.Common/Widgets/Logic/Ingame/
!engine/OpenRA.Mods.Common/Widgets/Logic/Ingame/ProductionTabsLogic.cs
!engine/OpenRA.Mods.Common/Traits/
!engine/OpenRA.Mods.Common/Traits/SupportPowers/
!engine/OpenRA.Mods.Common/Traits/SupportPowers/AutoActivateSpawnActorPower.cs
!engine/OpenRA.Mods.Common/Traits/OreTransporter.cs
!engine/OpenRA.Mods.Common/Traits/OreMineDurability.cs

# Visual Studio
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
_ReSharper.*/
/.vs

# Visual Studio Code
/.vscode/settings.json

# backup files by various editors
*~
*.orig
\#*
.*.sw?

# Monodevelop
*.pidb
*.userprefs

# Mac OS X
.DS_Store

# SublimeText
*.sublime-project
*.sublime-workspace

# NUnit
/TestResult.xml
/lib/

# Support directory
/Support

# IntelliJ files
.idea

# Lokale Kopien von Hauptspiel-Dateien (werden nicht geladen, nur als Referenz)
mods/cnc/rules/structures.yaml
